@import url('http://fonts.googleapis.com/css?family=Roboto');
:root {
    --primary-color: #2F4F78;
    --dark-color: #9C9C9C;
    --light-color: #f4f4f4;
    --lose-color: #D72A31;
    --win-color: #048444;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
    line-height: 1.6;
    background: #FCF4E4;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn {
    display: none;
    background: #04E474;
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    border-radius: 20%;
}

.restart-btn:hover{
    background: var(--dark-color);
    /* color: #fff; */
}

.header{
    text-align: center;
    margin: 1rem 0;
}

.header h1{
    margin-bottom: 1rem;
    text-decoration: underline;
}

.score{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
}

.score p:first-child{
    background: var(--primary-color);
}

.score p:last-child{
    background: var(--dark-color);
}

.choices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.choice{
    cursor: pointer;
    padding: 1rem;
    border-width:5px;  
    border-style:groove;
    border-color: var(--light-color);
    
}

.choice:hover{
    color: var(--primary-color);
}

.text-win {
    color: var(--win-color);
}

.text-lose {
    color: var(--lose-color);
}

@media(max-width: 700px) {
    .choice{
        font-size:110px;
    }
}
@media(max-width: 500px) {
    .choice{
        font-size:80px;
    }
}